{% extends "templates/app.twig" %}

{% block content %}

<head>
	<link rel='stylesheet' type='text/css' href='css/app.css'/>
</head>
<body class='index-body'>
	<script src ="./jquery/jquery.min.js"></script>
	<script type="module" src="./js/main.js"></script>
		<b>Welcome to my corner of the Internet.</b>
		<hr>
		This page is currently in development or marked as private.
		<br>
		<br>
		<br>

		<img id='home-img'/>

		<br>
		<br>
		<br>

</body>

{% endblock %}