{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Private</title>
</head>

<body class='index-body'>
	<script src ="./jquery/jquery.min.js"></script>
	<hr>
	This page is currently in development or marked as private.
	<br>
	<br>
	<br>

	<img class='rounded-img'/>

	<br>
	<br>
	<br>
</body>

{% endblock %}
