{% extends "templates/app.twig" %}

{% block content %}


<html>
  <head>
    <link rel='stylesheet' type='text/css' href='css/main.css'/>
  </head>
  <body>

  <img id='hp-warning-small' src="images/hp-small.jpg"></img>
  <br>
  <br>
  Only administrators are allowed to access this page.

  </body>
</html>


{% endblock %}
