{% extends "templates/app.twig" %}

{% block content %}


<html>
  <body>
  <h1>Hi there!</h1>
  <br>
  Your account has been permanently banned and removed from the database by the administrator.
  <br>
  <br>
  Thanks for stopping by.
  <br>
  </body>
</html>


{% endblock %}
