{% extends "templates/app.twig" %}

{% block content %}


<html>
  <body>
  <h1>Hi there!</h1>
  <br>
  It seems like you are not currently signed in.
  <br>
  <br>
  Please <a href="{{ path_for('auth.sign-in') }}">sign in</a> or <a href="{{ path_for('auth.sign-up') }}">sign up</a> to access this content.
  <br>
  </body>
</html>


{% endblock %}
