body {
  background: lightblue;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

#sign-up-form {
  text-align: left;
}

#sign-in-form {
  text-align: left;
}

:root {
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.search-form {
  display: block;
  padding-top: 10px;
}

#home-img {
  align-self: center;
  border-radius: 60px;
}

.slider-images {
  border-radius: 60px;
  max-height: 400px;
}

#welcome-img 
{
  width: 50%;
  height: 50%;
  border-radius: 60px;
}

@media (max-width: 960px)
{
  .search-form
  {
    display: none;
  }

  #home-img
  {
    border-radius: 60px;
    align-self: center;
    width: 75%;
    height: 75%;
  }

  #welcome-img 
  {
    width: 50%;
    height: 50%;
    border-radius: 60px;
  }

  .slider-images {
    border-radius: 60px;
    max-height: 200px;
  }
}

.index-body {
	background-color: lightblue;
	font-family: Sans-serif;
  font-size: 16px;
	font-weight: 100;
}

/* Gallery styling */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.rounded-img {
  border-radius: 20px;
  align-self: center;
}

.carousel-img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.carousel-control {
  border-radius: 20px;
}

.carousel-container {
  width: 50%;
  align-self: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 50%;
  align-self: center;
  align-items: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
