body {
  background: lightblue;
  padding-top: 100px;
  padding-bottom: 40px;
}

:root { 
  scrollbar-color: #BA0B00 #000000;
  scrollbar-width: none;
}

.search-form {
  display: block;
  padding-top: 10px;
}

.home-img {
  display: block;
}

@media (max-width: 960px)
{
  .search-form
  {
    display: none;
  }

  .home-img {
    display: none;
  }
}

.index-body {
	background-color: lightblue;
	font-family: Sans-serif;
	font-weight: 100;
}

#login-welcome-img {
  height: 25%;
  width: 25%;
}

#login-welcome-div {
  text-align: center;
}
