.index-body {
	background-color: lightblue;
	font-family: Sans-serif;
	font-weight: 100;
}

#desk1 {
height: 50%;
width: 50%;
}

#hp-warning-small {
	height: 20%;
	width: 20%;
}


#login-welcome-img {
  height: 25%;
  width: 25%;
}

#login-welcome-div {
  text-align: center;
}

#reading-img {
  height: 25%;
  width: 25%;
}
