{% extends "templates/app.twig" %}

{% block content %}


<html>

	<head>
		<title>Reading list </title>
		<link rel='stylesheet' type='text/css' href='css/main.css'/>

    	</head>

      <body id='primary-blog-body'>
      <div>
      	<img src="images/about.png"></img>
      </div>
      <br>
      This is my personal site for posting about a variety of topics.
      <br>
      <br>
		  This site was hand crafted by me, and runs on an <a href="https://ubuntu.com/">Ubuntu 20.04</a> VPS.
			<br>
			<br>
			<br>
			<br>
	      The information provided on this site is general in nature, and for educational purposes only. Please consider whether it is right for you.
		  <br>
		  <br>
		  <br>
	    </div>
	    </body>


		</div>
	</body>
</html>


{% endblock %}
