{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Blog</title>
	<script type="module" src="js/generated/blog.js"></script>
</head>

<body class="index-body">
  <div id='blog-body-content'>
	  Assorted discussions on <b><i>Technology</i></b>, <b><i>Psychology</i></b> and <b><i>Finance</i></b>.
		<br>

	</div>
</body>


{% endblock %}
