{% extends "templates/app.twig" %}

{% block content %}


<html>

	<head>
		<title>Reading list </title>
		<link rel='stylesheet' type='text/css' href='css/main.css'/>
		<script src="blog.js"></script>

    </head>

	<body>

	  <div id='blog-body-content'>
			<hr>
			Assorted discussions on <b><i>Technology</i></b>, <b><i>Philosophy</i></b> and <b><i>Psychology</i></b>
			<br>
			<hr>
			Being on desktop is recommended since this site is not optimised for mobile.
			</hr>
	  </div>
	</body>

</html>


{% endblock %}
