{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Tutoring & Consulting</title>
</head>

<body class='index-body'>
	<div>
		Available for tutoring <b>Maths</b> and <b>Programming</b> 
		<br>
		<br>
		Available for consulting in all things <b>Blockchain</b>, <b>Crypto</b> and <b>Full Stack Web Dev</b>
		<br>
		<br>
		Please contact me via email for an initial discussion or quote.
		<br>
		<br>
		<b><a href="mailto:grant.lachlan.j@gmail.com">grant.lachlan.j@gmail.com</a></b>
		<br>
		<br>
		<a href="https://www.google.com/search?channel=fs&client=ubuntu&q=Grant%20Tutoring%20and%20Consulting&ludocid=3030582214604955085&lsig=AB86z5U18GHLaUjxQtQDbA9BSsfF&ved=2ahUKEwje3anjjY32AhUa4XMBHTOJCa8QrMcEegQIAxAC" target="_blank">My Google Business Profile</a>
		<br>
		<br>
	</div>
</body>

{% endblock %}
