{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Consulting</title>
</head>

<body class='index-body'>
	<div>
		I am available for tutoring <b>Maths</b> and <b>Programming</b>. 
		<br>
		<br>
		I am also available for <b>Web Development Consulting</b>.
		<br>
		<br>
		Please contact me via email for an initial discussion.
		<br>
		<br>
		<b><a href="mailto:grant.lachlan.j@gmail.com">grant.lachlan.j@gmail.com</a></b>
		<br>
		<br>
		<br>
	</div>
</body>

{% endblock %}
