{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Contact</title>
</head>

<body class='index-body'>
	<div>
		You are welcome to contact me.
		<br>
		<br>
		My email address is noted below.
		<br>
		<br>
		<b><a href="mailto:grant.lachlan.j@gmail.com">grant.lachlan.j@gmail.com</a></b>
		<br>
		<br>
		<br>
	</div>
</body>

{% endblock %}
