{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Contact</title>
	<link rel='stylesheet' type='text/css' href='css/main.css'/>
</head>

<body class='index-body'>
	<div>
		<b>Welcome to my corner of the Internet.</b>
		<hr>
		You are welcome to contact me.
		<br>
		<br>
		My email address is <b><a href="mailto:grant.lachlan.j@gmail.com">grant.lachlan.j@gmail.com</a></b>
		<br>
		<br>
		<br>
	</div>
</body>

{% endblock %}
