{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Gallery</title>
</head>

<body class='index-body'>
	<div>
        <br>
        <br>
	</div>

	<script type="module" src="js/generated/gallery.js"></script>

</body>


{% endblock %}
