{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Contact</title>
	<script type="module" src="./js/gallery.js"></script>
</head>

<body class='index-body'>
	<div>
		<b>Welcome to my corner of the Internet.</b>
        <hr>

        <br>
        <br>
	</div>
</body>


{% endblock %}
