{% extends "templates/app.twig" %}

{% block content %}


<head>
	<title>Lachlan Grant</title>
	<link rel="stylesheet" href="css/tiny-slider.css">
</head>

<body class='index-body'>
	<div class='home-text'>
		This site is a place to express, track and integrate across subjects that are interesting to me.
		<br>
		<br>
	</div>

	<div class='home-text-mobile'>
		<b>Welcome</b>
	</div>


	{% if sliderMode %}

	<div class="my-slider">
		<div><img src='images/nebula.jpg' id="slider1" class="slider-images"/></div>
		<div><img id="slider2" class="slider-images"/></div>
		<div><img id="slider3" class="slider-images"/></div>
		<div><img id="slider4" class="slider-images"/></div>
		<div><img id="slider5" class="slider-images"/></div>
		<div><img id="slider6" class="slider-images"/></div>
	</div>

	{% else %}

	<div>
		<img class='home-img' id='home-img'/>
	</div>

	{% endif %}

	<br>
	<br>
	<br>

	<script type="module" src="js/generated/home.js"></script>

</body>

{% endblock %}
