{% extends "templates/app.twig" %}

{% block content %}

<head>
  <title>Home</title>
  	<script type="module" src="js/generated/home.js"></script>
</head>

<body class='index-body'>
	This is a place to express and integrate knowledge across different subjects that are interesting to me.
	<br>
	<br>
	<br>

	<img id='home-img'/>

	<br>
	<br>
	<br>
	
</body>

{% endblock %}
