{% extends "templates/app.twig" %}

{% block content %}


<head>
	<title>Home</title>
	<link rel="stylesheet" href="css/tiny-slider.css">
</head>

<body class='index-body'>
	This is a place to express and integrate knowledge across different subjects that are interesting to me.
	<br>
	<br>
	<br>


	{% if slider %}

	<div class="my-slider">
		<div>
			<img id="slider-1" class="slider-images"/>
		</div>
		<div>
			<img id="slider-2" class="slider-images"/>
		</div>
		<div>
			<img id="slider-3" class="slider-images"/>
		</div>
	</div>
	{% else %}
	<div>
		<img id='home-img'/>
	</div>
	{% endif %}


	<br>
	<br>
	<br>

	<script type="module" src="js/generated/home.js"></script>


		
</body>

{% endblock %}
