{% extends "templates/app.twig" %}

{% block content %}

<html>
	<meta charset='utf8'>
	</meta>

	<head>
		<link rel='stylesheet' type='text/css' href='css/main.css'/>
	</head>
	<script src ="./jquery/jquery.min.js"></script>
	<script type="module" src="./js/main.js"></script>
	<body class='index-body'>
		<b>Welcome to my corner of the Internet.</b>
		<br>
		<br>

		This is a place to express, track and integrate knowledge across different subjects that are interesting to me.
		<br>
		<br>
		<br>

		<img id='home-img'/>

		<br>
		<br>
		<br>

	</body>
</html>


{% endblock %}
