{% extends "templates/app.twig" %}

{% block content %}


<head>
	<title>Lachlan Grant</title>
	<link rel="stylesheet" href="css/tiny-slider.css">
</head>

<body class='index-body'>
	<div>
		<img class='my-slider-images' id='home-img'/>
	</div>

	<br>
	<br>
	<br>

	<script type="module" src="js/generated/home.js"></script>

</body>

{% endblock %}
