{% extends "templates/app.twig" %}

{% block content %}

<head>
    <title>People</title>
</head>

<body class='index-body' id='main-body'>
    <div>

      Here is a list of my favourite people in Technology, Business and Psychology.
      <br>
      <hr>

      <b><h2>Technology</h2></b>
      <a href="http://www.cypherspace.org/adam/" target="_blank"><b>Adam Back</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Andreas_Antonopoulos" target="_blank"><b>Andreas Antonopoulos</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ben_Goertzel" target="_blank"><b>Ben Goertzel</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Cal_Newport" target="_blank"><b>Cal Newport</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Chamath_Palihapitiya" target="_blank"><b>Chamath Palihapitiya</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Christopher_Wylie" target="_blank"><b>Christopher Wylie</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Edward_Snowden" target="_blank"><b>Edward Snowden</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank"><b>Elon Musk</b></a>
      <br>
      <a href="http://www.catb.org/esr/" target="_blank"><b>Eric Raymond</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jack_Dorsey" target="_blank"><b>Jack Dorsey</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jaron_Lanier" target="_blank"><b>Jaron Lanier</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Lex_Fridman" target="_blank"><b>Lex Fridman</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Linus Torvalds" target="_blank"><b>Linus Torvalds</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Melanie_Perkins" target="_blank"><b>Melanie Perkins</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Mike_Cannon-Brookes" target="_blank"><b>Mike Cannon-Brookes</b></a>
      <br>

      <hr>
      <b><h2>Business & Finance</h2></b>
      <a href="https://en.wikipedia.org/wiki/Andrew_Lo" target="_blank"><b>Andrew Lo</b></a>
      <br>
      <a href="https://intothecryptoverse.com/" target="_blank"><b>Benjamin Cowen</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank"><b>Elon Musk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Gary_Vaynerchuk" target="_blank"><b>Gary Vaynerchuk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Michael_J._Saylor" target="_blank"><b>Michael Saylor</b></a>
      <br>
      <a href="https://nicholasmerten.com/" target="_blank"><b>Nicholas Merten</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ray_Dalio" target="_blank"><b>Ray Dalio</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Sam_Bankman-Fried" target="_blank"><b>Sam Bankman-Fried</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Satyajit_Das" target="_blank"><b>Satyajit Das</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Tim_Ferriss" target="_blank"><b>Tim Ferriss</b></a>

      <hr>
      <b><h2>Psychology</h2></b>
      <a href="https://en.wikipedia.org/wiki/Alan_Watts" target="_blank"><b>Alan Watts</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Bessel_van_der_Kolk" target="_blank"><b>Bessel Van Der Kolk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Camille_Paglia" target="_blank"><b>Camille Paglia</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Carl_Jung" target="_blank"><b>Carl Jung</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Daniel_J._Siegel" target="_blank"><b>Dan Siegel</b></a>
      <br>
      <a href="https://drgabormate.com/" target="_blank"><b>Gabor Maté</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Johann_Hari" target="_blank"><b>Johann Hari</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jonathan_Haidt" target="_blank"><b>Jonathon Haidt</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jordan_Peterson" target="_blank"><b>Jordan Peterson</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ken_Wilber" target="_blank"><b>Ken Wilber</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Norman_Doidge" target="_blank"><b>Norman Doidge</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Somatic_experiencing" target="_blank"><b>Peter Levine</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Robert_Sapolsky" target="_blank"><b>Robert Sapolsky</b></a>
      <br>
      <b>Stanley Rosenberg</b>
      <br>
      <a href="https://en.wikipedia.org/wiki/Stephen_Porges" target="_blank"><b>Stephen Porges</b></a>
      <br>
      <a href="https://wholebodyrevolution.com/" target="_blank"><b>Sukie Baxter</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Terrence_McKenna" target="_blank"><b>Terrence McKenna</b></a>
      <br>
    </div>
</body>


{% endblock %}
