{% extends "templates/app.twig" %}

{% block content %}

<head>
    <title>People</title>
</head>

<body class='index-body' id='main-body'>
    <div>

      Here is a list of my favourite people in tech, business and psychology.
      <br>
      <hr>

      <b><h2>Technology</h2></b>
      <a href="http://www.cypherspace.org/adam/"><b>Adam Back</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Andreas_Antonopoulos"><b>Andreas Antonopoulos</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ben_Goertzel"><b>Ben Goertzel</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Cal_Newport"><b>Cal Newport</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Chamath_Palihapitiya"><b>Chamath Palihapitiya</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Christopher_Wylie"><b>Christopher Wylie</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Edward_Snowden"><b>Edward Snowden</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Elon_Musk"><b>Elon Musk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Eric_Raymond"><b>Eric Raymond</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jack_Dorsey"><b>Jack Dorsey</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jaron_Lanier"><b>Jaron Lanier</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Linus Torvalds"><b>Linus Torvalds</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Melanie_Perkins"><b>Melanie Perkins</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Mike_Cannon-Brookes"><b>Mike Cannon-Brookes</b></a>
      <br>


      <hr>
      <b><h2>Business & Finance</h2></b>
      <a href="https://en.wikipedia.org/wiki/Andrew_Lo"><b>Andrew Lo</b></a>
      <br>
      <a href="https://intothecryptoverse.com/"><b>Benjamin Cowen</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Elon_Musk"><b>Elon Musk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Gary_Vaynerchuk"><b>Gary Vaynerchuk</b></a>
      <br>
      <a href="https://nicholasmerten.com/"><b>Nicholas Merten</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ray_Dalio"><b>Ray Dalio</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Sam_Bankman-Fried"><b>Sam Bankman-Fried</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Satyajit_Das"><b>Satyajit Das</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Tim_Ferriss"><b>Tim Ferriss</b></a>

      <hr>
      <b><h2>Psychology</h2></b>
      <a href="https://en.wikipedia.org/wiki/Alan_Watts"><b>Alan Watts</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Bessel_van_der_Kolk"><b>Bessel Van Der Kolk</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Camille_Paglia"><b>Camille Paglia</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Carl_Jung"><b>Carl Jung</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Daniel_J._Siegel"><b>Dan Siegel</b></a>
      <br>
      <a href="https://drgabormate.com/"><b>Gabor Maté</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Johann_Hari"><b>Johann Hari</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jonathan_Haidt"><b>Jonathon Haidt</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Jordan_Peterson"><b>Jordan Peterson</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Ken_Wilber"><b>Ken Wilber</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Norman_Doidge"><b>Norman Doidge</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Somatic_experiencing"><b>Peter Levine</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Robert_Sapolsky"><b>Robert Sapolsky</b></a>
      <br>
      <b>Stanley Rosenberg</b>
      <br>
      <a href="https://en.wikipedia.org/wiki/Stephen_Porges"><b>Stephen Porges</b></a>
      <br>
      <a href="https://wholebodyrevolution.com/"><b>Sukie Baxter</b></a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Terrence_McKenna"><b>Terrence McKenna</b></a>
      <br>
    </div>
</body>


{% endblock %}
