{% extends "templates/app.twig" %}

{% block content %}

<head>
	<title>Contact</title>
	<link rel='stylesheet' type='text/css' href='css/app.css'/>
</head>

<body class='index-body' id='main-body'>
	<div>
		<b>Welcome to my corner of the Internet.</b>
        <hr>

        Here is a list of my favourite thinkers.
        <br>

        <hr>
        <b>Psychology</b>:
        <hr>
        Jordan Peterson
        <br>
        Norman Doidge
        <br>
        Dan Siegel
        <br>
        Jonathon Haidt
        <br>
        Robert Sapolsky
        <br>
        Sukie Baxter
        <br>
        Bessel Van der Kolk
        <br>
        Peter Levine
        <br>
        Stanley Rosenberg
        <br>
        Stephen Porges
        <br>
        Gabor Maté
        <br>
        Johann Hari
        <br>
        Carl Jung
        <br>
        Alan Watts
        <br>
        Terrence McKenna
        <br>
        Ken Wilber

        <hr>
        <b>Business & Finance:</b>
        <hr>
        Sam Bankman-Fried
        <br>
        Ray Dalio
        <br>
        Satyajit Das
        <br>
        Andrew Lo
        <br>
        Benjamin Cowen
        <br>
        Nicholas Merten
        <br>
        Elon Musk
        <br>
        Peter Thiel
        <br>
        Gary Vaynerchuk
        <br>

        <hr>
        <b>Technology</b>:
        <hr>
        Jack Dorsey
        <br>
        Elon Musk
        <br>
        Mike Cannon-Brookes
        <br>
        Ray Kurzweil
        <br>
        Linus Torvalds
        <br>
        Andreas Antonopoulos
        <br>
        Edward Snowden
        <br>
        Cal Newport
        <br>
        Jaron Lanier
        <br>
        Eric Raymond
        <br>
        Ben Goertzel
        <br>
        Christopher Wylie
        <br>
        Chamath Palihapitiya
            
        <hr>
        <b>Science</b>:
        <hr>
        Albert Einstein
        <br>
        Stephen Hawking
        <br>
        Isaac Newton
        <br>
	</div>
</body>


{% endblock %}
