{% extends "templates/app.twig" %}

{% block content %}


<html>

	<head>
		<title>Reading list </title>
		<link rel='stylesheet' type='text/css' href='css/main.css'/>
		<script src="blog.js"></script>

    </head>

	<body>

	  <div id='blog-body-content'>
			<div id='blog-img-div'>
				<img src='images/blog.png'></img>
			</div>
			<hr>
			Assorted discussions on <b><i>Technology</i></b>, <b><i>Philosophy</i></b> and <b><i>Psychology</i></b>
			<br>
			<br>
			Please be patient if you are on mobile.
			<br>
	  </div>
	</body>

</html>


{% endblock %}
